.MuiCard-root{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25rem
}

svg {
    width: 20px;
    height: 20px;
    transition: all 0.5s
}
<<<<<<< HEAD

=======
>>>>>>> 3b001c13f68066872f98d9c8e32c9d702164217f
