.MuiCard-root{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20rem
}

svg {
    width: 1.2rem;
    height: 1.2rem;
    transition: all 0.5s
}


@media(min-width: 1000px){
    .MuiCard-root{
        width: 300
    }
}


