.tag {
  border-radius: 20px;
  color: white;
  text-align: center;
  font-size: 1rem;
  text-align: center;
  width: fit-content;
  height: fit-content;
  padding: 0.3rem 0.4rem 0.3rem 0.4rem;
  margin: 0 0.4rem 0.4rem 0.4rem;
  outline: none;
  border: none
}

.clickable:hover {
  cursor: pointer;
  filter: brightness(130%);
}

.toggled {
  filter: brightness(120%);
  transform: scale(1.2);
  margin: -0.2rem 0.6rem 0.6rem 0.6rem;
  border-width: 0.15rem;
  border-style: solid;
  border-color: black;
}