.tag {
  border-radius: 20px;
  color: white;
  text-align: center;
  font-size: 18px;
  text-align: center;
  width: fit-content;
  height: fit-content;
  padding: 5px 10px 5px 10px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.tag:hover{
    cursor: pointer;
}