.text-content {
    width: 750px;
}

.inner-content{

}

.contents {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media(max-width: 750px){
    .text-content{
        width: 500px;
    }
}

@media(max-width: 550px){
    .text-content{
        width: 400px;
    }
}