.tag-selector {
  display: flex;
  flex-wrap: wrap;
  height: fit-content;
  width: 800px;
  justify-content: center;
}

@media (max-width: 800px) {
  .tag-selector {
    width: 500px;
  }
}

@media (max-width: 600px) {
  .tag-selector {
    width: 500px;
  }
}

@media (max-width: 500px) {
  .tag-selector {
    width: 400px;
  }
}

@media (max-width: 400px) {
  .tag-selector {
    width: 300px;
  }
}